body {
    font-family: "Mitr", sans-serif;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.logo {
    width: 40px; /* Set the desired width for the logo */
    margin-top: 5px;
    position: relative; /* Change position to relative */
    top: 50%; /* Move the image down by 50% of its own height */
    transform: translateY(-50%); /* Adjust vertical position to center */
}

.button {
    font-family: "Mitr", sans-serif;
    font-size: large;
    font-weight: 550;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgb(76,212,220);
    color: white;
    border: 0;
    padding: 5px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
    margin-bottom: 10px;
    text-decoration: none;
}

    .button:hover {
        background-color: #F2D2BA; /* Change background color on hover */
        color: black; /* Change text color on hover */
    }

.buttontext {
    margin-left: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mitr", sans-serif;
}

.nav-links {
    width: 100%;
    position: fixed;
    z-index: 1000;
    height: 60px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

    .nav-links li {
        list-style: none;
        margin: 0 14px;
    }

        .nav-links li a {
            position: relative;
            color: #333;
            font-size: 20px;
            padding: 6px 0;
            text-decoration: none;
        }

.logo {
    width: 100px; /* Set the desired width for the logo */
    margin-top: 40px;
    position: relative; /* Change position to relative */
    top: 50%; /* Move the image down by 50% of its own height */
    transform: translateY(-50%); /* Adjust vertical position to center */
}

.profilepic img {
    width: 35px;
    border-radius: 50%; /* Make the image round */
}

.noti img {
    width: 35px;
    margin-right: 5px;
}

.inbox img {
    width: 35px;
    margin-right: 5px;
}

.profile-container {
    margin-left: auto; /* Push the container to the right */
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center items vertically */
}

.profilenav:hover img {
    filter: brightness(50%);
    opacity: 0.7;
}

.filter:hover {
    filter: brightness(50%);
    opacity: 0.7;
}

.drumgame img {
    width: 35px;
    margin-right: 5px;
    border-radius: 50%; /* Make the image round */
}

.simongame img {
    width: 35px;
    margin-right: 5px;
    border-radius: 30%; /* Make the image round */
}

.card-container {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    justify-content: flex-start; /* Align text to the left */
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        background-color: #f9f9f9;
    }


.explorer {
    width: 600px;
    margin-left: -20px;
    text-align: center;
    font-size: 15px;
    margin-top: -20px;
    background-color: #ffecac;
    font-weight: 600;
    margin-bottom: 10px;
    border-radius: 20px 20px 0px 0px;
    color: #333;
}

.time {
    font-size: small;
    font-weight: 500;
    color: gray;
}


.name {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.location {
    font-size: small;
    font-weight: 500;
    color: gray;
}

.description-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 100px;
}

.description {
    width: 300px;
    font-size: small;
    color: #333;
}

.description-img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

    .description-img:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        background-color: #f9f9f9;
    }


.search-container {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

    .search-container form {
        display: flex;
        align-items: center;
        background-color: #f1f1f1;
        border-radius: 25px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .search-container select, .search-container input[type="date"], .search-container button {
        padding: 10px;
        border: none;
        background-color: transparent;
        font-family: 'Calibri', sans-serif;
    }

    .search-container select {
        border-right: 1px solid #ccc;
    }

    .search-container input[type="date"] {
        flex: 1;
    }

    .search-container button {
        background-color: #333;
        color: white;
        cursor: pointer;
        border: none;
        padding: 10px 20px;
        border-radius: 0 25px 25px 0;
    }

        .search-container button:hover {
            background-color: #555;
        }

.card-button-green {
    width: 120px;
    display: inline-block;
    padding: 10px 20px;
    font-size: small;
    font-weight: 500;
    color: gray;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #ffecac;
    transition: all 0.3s ease;
}


.card-button-yellow {
    width: 120px;
    display: inline-block;
    padding: 10px 20px;
    font-size: small;
    font-weight: 500;
    color: gray;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #ffecac;
    transition: all 0.3s ease;
}


.card-button-green:hover {
    color: green;
    background-color: #9CDBC8;
    opacity: 0.7;
}

.card-button-yellow:hover {
    color: blue;
    background-color: #84A7F6;
    opacity: 0.7;
}

.less {
    color: gray;
    border: 2px solid #ffecac;
}

    .less:hover {
        color: white;
        background-color: red;
    }

/* .expanded {

} */

.additional-info {
    display: none; /* Hide additional info by default */
}

    .additional-info.show {
        display: block; /* Show additional info when 'show' class is present */
    }

.details {
    white-space: wrap;
    margin-bottom: 20px;
}

.details-title {
    font-size: medium;
}

.details-details {
    font-size: small;
}

.users {
    margin-top: 20px;
    margin-bottom: 5px;
}

.joined-user-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    gap: 15px;
}

    .joined-user-container a {
        text-decoration: none;
        color: #333;
    }

.linker {
    text-decoration: none;
    color: #333;
    flex-flow: column
}

.joined-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*remove underline of a href */
}

.poster-user {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    /*remove underline of a href */
}

    .poster-user img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #ffecac;
    }

    .poster-user:hover img {
        filter: brightness(50%);
        opacity: 0.7;
    }


.joined-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ffecac;
}

.joined-user:hover img {
    filter: brightness(50%);
    opacity: 0.7;
}

.maps {
    margin-top: 20px;
}

/* Add this CSS at the end of your existing styles */

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    text-align: center;
    animation: fadeIn 0.5s;
    border-radius: 10px; /* Add border radius for a rounded appearance */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px; /* Adjust position slightly */
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* Fade in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Apply font-family Mitr to the modal content */
.modal-content * {
    font-family: "Mitr", sans-serif;
}

/* Apply additional styles to the modal */
.modal-content p {
    margin-bottom: 10px;
}

/* Apply styles to the modal buttons */
.modal-content button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

    .modal-content button:hover {
        background-color: #555;
        color: white;
    }

.card-button-red {
    width: 120px;
    display: inline-block;
    padding: 10px 20px;
    font-size: small;
    font-weight: 500;
    color: gray;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #ffecac;
    transition: all 0.3s ease;
}

    .card-button-red:hover {
        color: black;
        background-color: red;
        opacity: 0.7;
    }

.edit {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.delete {
    background-color: red;
}

.enddate {
    margin-right: 460px;
    margin-top: 10px;
    color: gray;
    font-size: small;
}

.input {
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    font-size: small;
    font-weight: 500;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #ffecac;
    transition: all 0.3s ease;
}

    .input:hover {
        color: green;
        background-color: #9CDBC8;
        opacity: 0.7;
    }

#timeLeft {
    border: 1px solid white;
}